<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoTikTokAccount</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="warrper">
        <form action="/info" method="POST">
            <input id="text" name="text" class="in" placeholder="enter username" type="text">
            <button id="btn" name="s" class="bt" type="submit">GET</button>
        </form>
    </div>
    <!-- <script src="/static/script.js"></script> -->
</body>
</html>
