<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/ks.css"
</head>
<body>
    <div class="Info">
        <h2>Account Information</h2>
        <img src={{data.photo}}>
        <pre>name : {{data.name}}</pre>
        <pre>id : {{data.id}}</pre>
        <pre>followers : {{data.followers}}</pre>
        <pre>following : {{data.following}}</pre>
        <pre>rest email : {{data.rest_email}}</pre>
        <pre>rest mobile : {{data.rest_mobile}}</pre>
        <pre>bio : {{data.bio}}</pre>
        <!-- <pre>praivet : {{data.parivet}}</pre> -->
    </div>
</body>
</html>